#block_page{
	margin: auto;
  font-family: "sans-serif";
}
h3{
  border: 1px solid grey;
}
/**{

  border: 1px solid black;
}*/
/* HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
 HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
  HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // */
header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 20px;
  border: 1px solid black;
}
#block_nom{
  line-height: 25px;
}

#prenom{
	text-transform: uppercase;
	font-weight: bold;
  font-size: 3em;
  display: flex;
  align-items: center;
}
#info_photo{
  display: flex;
  justify-content:space-between;
  width:42.3%;
}
#block_nom p{
	margin: 0px;
}
img{
	width: 180px;
	height: 180px;
  border-radius: 50%;
}
/* CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //
 CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //v CORPS // CORPS //
  CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // */
#Corps_page{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

article{
	padding: 20px;
}
table{
}
td{
	padding-bottom: 20px;
}
#competence{
  padding: 20px;
  width: 50%;
}
.un {
	width: 270px;
	padding-left: 20px;
	font-weight: bold;

}
.deux{
	padding-left: 10px;

}
ul{
	list-style-type: "-";
}

/*FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
 // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
  // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER*/
footer{
	display: flex;
  border: 1px solid black;
}
.foot {
  width: 50%;
  padding: 20px;
}
#parenth{
	list-style-type: none;
}
/* RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
 RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
  RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //*/

  @media screen and (max-width:900px)
  {
  	
  	#block_page{
  		width: auto;
  		margin: auto;
  	}
  	table{
  		width: auto;
  	}
  	header{
  		width: auto;
  		margin: auto;
  	}
  	.un{
  	}
  	td{
  		height: 30px;
  	}
  	footer{
  		width: auto;
  		font-size: 0.8em;
  		margin: auto;
  	}
  	.foot{
  		display: inline-block;
  	}
  	
  	section{
  		width: auto;
  		font-size: 0.8em;
  		margin: auto;
  	}
}
@media screen and (max-width:850px)
  {
  	#block_page{
  		width: 600px;
  		margin: auto;
  		font-size: 0.6em;
  	}
  	table{
  		width: 500px;
  	}
  	.un{
  		width: 200px;
  	}
  	.deux{
  	}
  	
}
 @media screen and (max-width:600px)
  {
  	#block_page{
  		width: 350px;
  		margin: auto;
  	}
  	img{
  		width: 60px;
  		height: 90px;
  	}
  	section{
  		font-size: 0.5em;
  	}
  	table{
  		width: 280px;
  		margin-left: 15px;
  	}
  	td{

  		height: 0px;
  		padding-bottom: 10px;
  	}
  	.un{
  		width: 100px;
  	}
  	.deux{
  		width: 150px;
  	}
  	footer{
  		font-size: 0.5em;
  	}
  	
}
