#block_page{
	display: flex;
  flex-direction: column;

	box-shadow: 0px 0px 8px green;
}

/* HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
 HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
  HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // */
header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 20px;
  background: -webkit-linear-gradient(top, #C0C0C0, white);
  background: -o-linear-gradient(top, #C0C0C0, white);
  background: -ms-linear-gradient(top, #C0C0C0, white);
  background: -moz-linear-gradient(top, #C0C0C0, white);
}
section{
  display: flex;
  flex-direction: column;
}
#block_nom{
	border-right: 2px solid maroon;
	padding-right: 10px;
}

#prenom{
	text-transform: uppercase;
	font-weight: bold;
}
#block_nom p{
	margin: 0px;
}
img{
	width: 120px;
	height: 180px;
}
/* CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //
 CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //v CORPS // CORPS //
  CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // */
article{
	padding: 20px;
  display: flex;
  flex-direction: column;
}
table{
	display: flex;
  flex-direction: column;
  flex:1;
	border-left: 2px solid maroon;
	border-collapse: collapse;
}
tr{
  display: flex;
  justify-content: space-between;}

td{
  width: 40%;
	padding-bottom: 20px;
  text-align: justify;
}
.un {
	width: 270px;
	padding-left: 20px;
	font-weight: bold;

}
.deux{
	padding-left: 10px;

}
#depan{
	display: flex;
}
ul{
	list-style-type: "-";
}

/*FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
 // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
  // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER*/
footer{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;
}
.foot div{
	border-left: 2px solid maroon;
	margin-left: 20px;
}
.foot p{
	font-weight: bold;
}
.foot ul{
	padding-left: 15px;
}
#parenth{
	list-style-type: none;
}
/* RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
 RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
  RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //*/

  @media(max-width: 600px){
    
  }