#block_page {
  margin: auto;
  font-family: "Roboto"; }

h3 {
  color: #FFFFFF;
  background-color: #FF9230;
  box-shadow: 2px 2px grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px; }

.progress {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 50px;
  height: 1150px; }

.progressbarre {
  color: white;
  justify-content: center;
  background-color: white;
  border: 1px solid grey;
  height: 25px;
  padding: 2px;
  width: 100%;
  margin: 20px 0; }

.progressbarre span {
  text-align: center;
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out; }

.blue span {
  background-color: #34c2e3; }

.rouge span {
  background-color: #FF1610; }

.orange span {
  background-color: orange; }

.jaune span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215); }

.vert span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916); }

.blert span {
  background-color: #0AACA6; }

.menthe span {
  background-color: #16B84E; }

.sarcelle span {
  background-color: #008E8E; }

.beurre span {
  background-color: #F0E36B; }

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  animation: animate-stripes 3s linear infinite; }

@keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }
/* HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
 HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //
  HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER // HEADER //v HEADER // HEADER // */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center; }

#block_nom {
  line-height: 20px; }
  #block_nom p {
    margin: 0px; }

#cadrePrenom {
  border-top: 1px solid #FF9230;
  border-bottom: 1px solid #FF9230;
  display: flex;
  align-items: center;
  height: 75px;
  margin-left: 30px; }
  #cadrePrenom h2 {
    border-bottom: 1px solid #FF9230; }

#prenom {
  border-top: 1px solid #FF9230;
  border-bottom: 1px solid #FF9230;
  font-weight: bold;
  font-size: 3em;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Bree Serif'; }

#info_photo {
  display: flex;
  justify-content: space-between;
  width: 42.3%; }
  #info_photo img {
    width: 200px;
    height: 200px;
    border-radius: 5px; }

/* CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //
 CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS //v CORPS // CORPS //
  CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // CORPS // */
#Corps_page {
  display: flex;
  justify-content: space-between;
  height: 1000px; }

article {
  padding: 20px;
  border: 1px solid black; }

.XP {
  border-right: 1px solid #FF9230;
  padding: 20px;
  padding-top: 0;
  width: 50%; }
  .XP h4 {
    width: 270px;
    padding-left: 20px;
    font-weight: bold; }
  .XP p {
    padding-left: 50px; }

td {
  padding-bottom: 20px; }

.competence {
  padding: 20px;
  padding-top: 0;
  width: 50%; }
  .competence table {
    width: 100%; }

.divComp {
  border: 1px solid grey;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

/*FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
 // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER
  // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER // FOOTER*/
footer {
  display: flex; }

.foot {
  width: 50%;
  padding: 20px; }

/* RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
 RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //
  RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE // RESPONSIBLE //*/
